body{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 20px auto;
}

#container {
    background-color: rgb(175, 172, 172);
    width: 430px;
    height: 480px;
    padding: 20px;
    border-radius: 10px;
}

#value {
    font-size: 60px;
    width: 425px;
    overflow: hidden;
    text-align: right;
    background-color: rgb(155, 155, 231);
    border-radius: 5px;
}

#buttons {
    display: inline-block;
    justify-content: space-evenly;

}

button {
    display: inline-block;
    width: 100px;
    padding: 15px 40px;
    margin: 5px 2px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2d382d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
  }

#small {
    padding: 5px 40px;
    font-size: 15px;
    margin: 15px 2px;
}
button:hover {background-color: #616761}
  
button:active {
    background-color: #313431;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#Clear {
    width: 425px;
    margin-top: 15px;
}


